body{
  background-image: url("http://127.0.0.1:8000/static/images/home_bg.png");

}
header{
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
}

#container{
  display: flex;
  width: 45%;
  justify-content: space-around;
}


#logo{
  width: 200px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url("http://127.0.0.1:8000/static/images/logo.svg");
}

#form_name_row{
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
